body {
    font-family: Arial, sans-serif;
    background-color: rgb(84, 25, 116);
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 30px auto;
    background-color: rgb(166, 0, 255);
    padding: 0.5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #ffff;
    padding: 0px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.login-form button {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #218838;
}

.login-form p {
    margin-top: 20px;
}

a {
    color: #85c0ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffff;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

.chapter {
    font-family: 'Times New Roman', Times, serif;
    font-style: inherit;
    font-size: 20px;
    padding: 10px;
}

.verses {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}